body{
    padding: 0;
    margin: 0;
}
#侧边栏 {
    position: absolute;
    width: 300px;
    height: 100px;
    background: #FAFAFA;
}

/*  */
.搜索 {
    width: 90px;
    height: 40px;

    font-family: 'Noto Sans Gujarati UI';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 193.51%;
    /* or 43px */

    letter-spacing: 0.03em;

    color: #000000;
}

/*  */
#主页面 {
    width: 1440px;
    height: 1000px;
    background: #EFEFEF;
}